$primary-font-color: #336d5e;
$color-success: #00c392;
$color-danger: #e7062d;
$color-secondary: #ccc;
$color-btn-bg: #ecfbf6;
$color-btn-font: #89d1a7;
$color-light: #fff;


// base font size
$font-size-larg: 18px;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-xs : 12px;

// theme font-size
$font-size-title: 20px;
$font-size-paragraph: $font-size-base;
