@import '../../variables';

.card-list {
    .lien-under {
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: calc(100% + 5px);
            right: 0;
            left: 0;
            height: 1px;
            background-color: $color-success;
        }
    }

    select.custome-select {
        background: transparent;
        border: none;
        outline: none;
        color: $color-success;
    }

    .add-new {
        color: $primary-font-color;
        text-decoration: none;
    }
    
    .total-resualt span {
        font-size: $font-size-small;
    }

    .count-info {
        padding-bottom: 30px;
        
        span:first-child{
            font-size: $font-size-small;
            font-weight: 400;
            color: rgba($primary-font-color, 0.5);
            text-transform: capitalize;
        }

        span:last-child {
            font-size: $font-size-small;
            font-weight: 600;

        }
    }

    .load-more {
        border: none;
        box-shadow: none;
        outline: none;
        padding: 15px 25px;
        background-color: $color-btn-bg;
        color: $color-btn-font;
        text-transform: uppercase;
        font-size: $font-size-small;
        font-weight: 600;
        cursor: pointer;
    }
}